<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278411076866-k02g77of85rpkm317v7oeougv3op6ert.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278411076866-k02g77of85rpkm317v7oeougv3op6ert</string>
	<key>API_KEY</key>
	<string>AIzaSyBD9WaHsiGu8ZiXfG7uQRzpMH8QtdNNcsk</string>
	<key>GCM_SENDER_ID</key>
	<string>278411076866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.simone.PlanerApp</string>
	<key>PROJECT_ID</key>
	<string>planerapp-57c24</string>
	<key>STORAGE_BUCKET</key>
	<string>planerapp-57c24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278411076866:ios:17620d5914ee6f0744ce1b</string>
</dict>
</plist>